/* Your Website Styles */
body {
	font-family: Times, serif;
	background-image: url('img/wood.png') ;
	background-color: black;
;
}
/* Show Grid */

.box {
	background-color: #FBBE69;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	width: 1000px;
	height: 800px;
	
}

.grid_4 {
	margin-top: 20px;
	margin-left: 40px;

}

img {
	border: solid 3px #69A6FB;
}


h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 3em;
	font-weight: 400;
	margin-top: 0;
	margin-left: 20px;

}

h3 {
	font-family: 'Nunito', sans-serif;
	font-weight: ; 
}